**/build
**/publish
**/workspace
*.iml
*.bat
*.aps
*.hint
*.tlog
*.log
*.lnk
*.pdb
**/.vscode/**
**/msvc/bin*
**/msvc/obj*
**/msvc/Debug*
**/msvc/Release*
**/msvc/.vs
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/ipch
**/PublishPath*.ini

publish
**/appversion.h
**/reunion/dist/Readme.txt
